#title-pane {
    -fx-background-color: #2D75E8;
}

#border-pane {
    -fx-background-color: #FFFFFF;
}

#start_pause {
    -fx-text-fill: green;
    -fx-background-color: white;
    -fx-background-radius: 80;
    -fx-border-radius: 80;
}

#start_pause:hover {
    -fx-background-color: #C0D5F7;
}

#start_pause:pressed {
    -fx-text-fill: red;
    -fx-background-color: #73A3EF;
}

.menu-bar {
    -fx-background-color: #2D75E8;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.menu, .menu-item {
    -fx-text-fill: white;
}

/*.menu, .menu-item :hover {*/
/*    -fx-background-color: #C0D5F7;*/
/*    -fx-text-fill: #2D75E8;*/
/*}*/

/*.menu, .menu-item :pressed {*/
/*    -fx-background-color: #2D75E8;*/
/*    -fx-text-fill: white;*/
/*}*/
.imageView {
    -fx-background-radius: 80;
    -fx-border-radius: 80;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-color: firebrick;
}

.text-area {
    -fx-text-fill: #2D75E8;
    -fx-background-radius: 0;
    -fx-border-radius-radius: 0;
}

.text-field {
    -fx-background-radius: 0;
    -fx-border-radius-radius: 0;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: #d9e3ff;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #2D75E8;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}


.button {
    -fx-background-color: #FFF;
    -fx-background-radius: 0;
    -fx-border-radius-radius: 0;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #C0D5F7;
}

.button:pressed {
    -fx-cursor: hand;
    -fx-background-color: #73A3EF;
}

#available {
    -fx-background-color: #5CB55B;
}

#busy {
    -fx-background-color: #D7534B;
}

#away {
    -fx-background-color: #EEAC4C;
}

#offline {
    -fx-background-color: #d9e3ff;
}

#genderChart, #countryChart {
    -fx-background-color: white;
}

#new {
    -fx-background-color: #2D75E8;
}

#insert {
    -fx-background-color: #73A3EF;
}

#update {
    -fx-background-color: #5CB55B;
}

#delete {
    -fx-background-color: #D7534B;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #2D75E8;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-view .cell {
    -fx-cell-size: 35;
    -fx-alignment: center;
    /*-fx-background-color: #C0D5F7;*/
    /*-fx-border-color: #2D75E8;*/
    -fx-text-fill: #2D75E8;
    -fx-alignment: CENTER;

}

.table-row-cell:selected {
    /*-fx-background-color: #f5f5f5;*/
    -fx-background-color: #d9e3ff;
    /*-fx-background-color: steelblue;*/
    -fx-text-fill: white;


}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(#2D75E8, 80%);

    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#2D75E8, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: true;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

#buttons-blue {
    -fx-background-color: #0078D4;
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-alignment: CENTER;
}

